{% extends '/layout/base.html.twig' %}

{% block title %}
    Searchresult
{% endblock %}

{% block stylesheets %}
    <style>
        .aggregation-title-text {
            font-size: 18px;
            font-weight: bold;
        }
        .aggregation-body {
            margin-left: 20px;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h4>Showing hits <strong>{{ results.startingAtItem }} </strong>to <strong>{{ results.endingAtItem }}</strong> of <strong>{{ results.totalResults }}</strong></h4>
                {% include '/partial/paginator.html.twig' with {'result':results, 'q': q} %}
                {% for hit in results.results %}

                    <div class="hit">
                        <a class="text-reset " href="https://docs.typo3.org/{{ hit.data.manual_slug }}/{{ hit.data.relative_url }}#{{ hit.data.fragment }}">
                            <h4 class="">
                                {{ hit.data.snippet_title }}
                                <small class="text-muted text-decoration-none">{{ hit.data.manual_title }}</small>
                                <span class="badge badge-secondary text-decoration-none">{{ hit.data.manual_type }}</span>
                                <span class="badge badge-primary text-decoration-none">{{ hit.data.manual_version }}</span>
                            </h4>

                            <p class="summary">{{ hit.data.snippet_content|slice(0, 400) }}...</p>
                        </a>
                    </div>
                {% endfor %}
                {% include '/partial/paginator.html.twig' with {'result':results, 'q': q} %}
            </div>
            <div class="col-3">
                <div class="wy-menuXX wy-menu-verticalXX" data-spy="affix" role="navigation" aria-label="main navigation">
                    <form action="{{ path('searchresult') }}" method="get" class="form">
                    <input type="hidden" name="q" value="{{ (q is defined) ? q : '' }}">
                    {% include 'partial/aggregations.html.twig' with {'aggregations': results.aggs, 'query': q} only %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
