{% extends 'base.html.twig' %}

{% block title %}
    SearchResult
{% endblock %}

{% block stylesheets %}
<style>
    .aggregations {
        color: white;
        padding-left: 15px;
    }
    .aggregation-bucket-name {
        font-size: 18px;

    }

    .aggregation-buckets {
        padding-left: 15px;
        list-style-type: disc !important;
    }

    .aggregation-bucket {
        font-size: 14px;
        border-top: 1px solid #797979;
        margin-bottom: 6px;
    }
    .aggregation-bucket:first-child {
        border-top: none;
    }

    .pagination li {
        border: 1px solid #dedede;
        display: inline-table;
    }
    .pagination li a {
        display: block;
        padding: 8px;
    }

    .pagination li.active a {
        background-color: #D3D3D3;
    }
</style>
{% endblock %}

{% block body %}
    <div class="container">
        {#<form class="form-inline" method="get" action="{{ url('searchresult') }}">#}
            {#<div class="form-group">#}
                {#<label for="searchterm" class="sr-only">Search Terms</label>#}
                {#<input type="text" class="form-control" id="searchterm" placeholder="Searchterm" name="q" value="{{ q }}">#}
            {#</div>#}
            {#<button type="submit" class="btn btn-primary">Search</button>#}
        {#</form>#}
        <h4>Showing hits <strong>{{ results.startingAtItem }} </strong>to <strong>{{ results.endingAtItem }}</strong> of <strong>{{ results.totalResults }}</strong></h4>
        {% include 'paginator.html.twig' with {'result':results, 'q': q} %}
        {% for hit in results.results %}
            <div class="hit">
                <h4>
                    {{ hit.data.snippet_title }}
                    <small class="text-muted">{{ hit.data.book_title }}</small>
                    <span class="badge badge-secondary">{{ hit.data.book_type }}</span>
                </h4>
                <p class="url">
                    <a href="https://docs.typo3.org/{{ hit.data.book_slug }}/{{ hit.data.relative_url }}#{{ hit.data.fragment }}">
                        https://docs.typo3.org/{{ hit.data.book_slug }}/{{ hit.data.relative_url }}#{{ hit.data.fragment }}
                    </a>
                    </p>
                <p class="summary">{{ hit.data.snippet_content|slice(0, 18000) }}...</p>
            </div>
        {% endfor %}
        {% include 'paginator.html.twig' with {'result':results, 'q': q} %}
    </div>
{% endblock %}

{% block aggregations %}
    <ul class="aggregations">
    {% for aggName, aggs in results.aggs %}
        <li class="aggregation-bucket-name">{{ aggName }}
            <ul class="aggregation-buckets">
                {% for bucket in aggs.buckets %}
                    <li class="aggregation-bucket">{{ bucket.key }} ({{ bucket.doc_count }})</li>
                {% endfor %}
            </ul>
        </li>

    {% endfor %}
    </ul>
{% endblock %}
