{% extends '/layout/base.html.twig' %}

{% block title %}
    Search results for: {{ q }}
{% endblock %}

{% block stylesheets %}
    <style>
        .aggregations-toggle-body::before {
            content: attr(data-text-show);
            margin-right: 10px;
        }
        .aggregations.is-expanded .aggregations-toggle-body::before {
            content: attr(data-text-hide);
        }
        .aggregations .aggregations-toggle-body:active,
        .aggregations .aggregations-toggle-body:focus {
            text-decoration: none;
        }
        .aggregations.is-expanded .aggregations-toggle-body .fa::before {
            content: '\f077';
        }
        .aggregations .card-header {
            border-bottom-width: 0;
        }
        .aggregations .card-body {
            display: none;
        }
        .aggregations.is-expanded .card-header {
            border-bottom-width: 1px;
        }
        .aggregations.is-expanded .card-body {
            display: block;
        }
        .aggregation-title-text {
        }
        .aggregation-body {
            padding-left: 20px;
        }
        .form-check-label,
        .form-check-input {
            cursor: pointer;
        }
        .page-item {
            min-width: 41px;
            margin-top: -1px;
            text-align: center;
        }
        @media (min-width: 768px) {
            .aggregations .card-header {
                display: none;
            }
            .aggregations .card-body {
                display: block;
            }
        }
        .summary em {
            font-style: normal;
            font-weight: 600;
        }
    </style>
{% endblock %}

{% block page_content %}
    <script>
        var searchCount = {{ results.totalResults }};
    </script>
    {% if results.totalResults > 0 %}
        <h4>Showing hits <strong>{{ results.startingAtItem }} </strong>to <strong>{{ results.endingAtItem }}</strong> of <strong>{{ results.totalResults }}</strong></h4>
        <div class="row">
            <div class="{{ (searchScope is empty) ? 'col-md-8 col-lg-9 order-2 order-md-1 mb-4' : 'mb-4' }}">
                <ul class="list-group">
                    {% for hit in results.results %}
                        <li class="list-group-item list-group-item-action hit">
                            <h4>
                                {% set bestSlug = buildSlug(hit.data, searchDemand) %}
                                <a class="text-dark" href="https://docs.typo3.org/{{ bestSlug }}/{{ hit.data.relative_url }}#{{ hit.data.fragment }}">{{ hit.data.snippet_title|raw }}</a>
                                <small class="text-muted fw-normal">{{ hit.data.manual_title }}</small>
                                <span class="badge bg-secondary">{{ hit.data.manual_type }}</span>
                                {% for version in sortVersions(filterVersions(hit.data.manual_version), 'desc') %}
                                    {% set versionBadgeSlug = buildSlug(hit.data, searchDemand, version) %}
                                    <a class="badge bg-primary text-decoration-none" href="https://docs.typo3.org/{{ versionBadgeSlug }}/{{ hit.data.relative_url }}#{{ hit.data.fragment }}">{{ version }}</a>
                                {% endfor %}
                            </h4>
                            <div class="position-relative">
                                {% if hit.highlights and hit.highlights.snippet_content and hit.highlights.snippet_content[0] %}
                                    <p class="summary">
                                        {% for content in hit.highlights.snippet_content %}{{ content | raw }}...{% endfor %}
                                    </p>
                                {% else %}
                                    <p class="summary">{{ hit.data.snippet_content|slice(0, 400) }}...</p>
                                {% endif %}
                                <a class="stretched-link" href="https://docs.typo3.org/{{ bestSlug }}/{{ hit.data.relative_url }}#{{ hit.data.fragment }}" aria-hidden="true" tabindex="-1"></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if searchScope is empty %}
            <div class="col-md-4 col-lg-3 order-1 order-md-2 mb-4">
                <div class="wy-menuXX wy-menu-verticalXX" data-spy="affix" role="navigation" aria-label="main navigation">
                    <form action="{{ path('searchresult') }}" method="get" class="form">
                        <input type="hidden" name="q" value="{{ (q is defined) ? q : '' }}">
                        {% include 'partial/aggregations.html.twig' with {'aggregations': results.aggs, 'query': q, 'searchFilter': searchFilter} only %}
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    {% else %}
        <h4>No search results found for: {{ q }}</h4>
    {% endif %}
    {% include '/partial/paginator.html.twig' with {'result':results, 'arguments': {'q': q, 'scope': searchScope|striptags|escape, 'filters': filters}} %}
{% endblock %}
